@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /* colors */
    --BGCOLOR:#475569;
    --LIGHTCOLOR:whitesmoke;
    --WHITE:#fff;
    --KOHLY:#43475c;
    --papaya:papayawhip;

    /* fonts */
    --FS:1.2rem;
    --FF:"Roboto", sans-serif;

    /* General */
    --BORDERS:2px solid var(--KOHLY); 
    --PADDING:0.5rem;
    --WID-HIG-DIV:max(20vw,150px);
    --BOXSHADOW: 0 5px 8px 0 rgb(0, 0, 0,0.5);

}
@media (prefers-color-scheme: dark) {
    :root{
        --BGCOLOR:#121212;
        --LIGHTCOLOR:var(--papaya);
    }
}
body{
    font: var(--FS) var(--FF);
    min-height:100vh;
    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--LIGHTCOLOR),var(--BGCOLOR));
    display:flex;
    flex-direction: column;
}
.header,footer{
    position: sticky;
    background-color: var(--KOHLY);
    color:var(--WHITE);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--PADDING);
    font-size: var(--FS);
}
nav{
    background-color: var(--WHITE);
    color:var(--KOHLY);
    width: 100%;
    text-align:center;
    padding:var(--PADDING);
    border-bottom: var(--BORDERS);
    box-shadow: var(--BOXSHADOW);
}
.header{
    top:0;
}
footer{
    bottom: 0;
}
main{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:1rem;
    flex-flow: row wrap;


}
.square{
    justify-content: space-evenly;
    background-color: var(--papaya);
    width:var(--WID-HIG-DIV);
    height:var(--WID-HIG-DIV);
    display: grid;
    place-content: center;
    border:var(--BORDERS);
    border-radius: 15%;
    font-size: 2.3rem;
    box-shadow: var(--BOXSHADOW);

}
/* we can reassign a variable in a specific class(maybe onlt that but the rest still the same) and also reassign in media query when that condition happen only  */